@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--<div style="width:100%;height:750pd;background-color:green">
    <img  src="img/Capture.PNG" width="100%"/>
    <p >HOORAAY</p>
</div>
-->
<!--
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body,html{
                height: 100%;
                margin:auto;
            }
            


        </style>

    </head>
    <body>
        <div class="bg"></div>
    </body>
</html>
-->

<div style="height:100%;margin:0">
    <p style="font-size:65dp">CHILLI THE BITE WESBISE COMING SOON...</p>

</div>
